img {
  width: 100%;
  border-radius: 1rem;
}

a {
  text-decoration: none;
}

h5 {
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: normal;
}

.hovr {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.hovr:hover {
  transform: scale(1.05);
}
