<div class="card">
  <a [routerLink]="['/movies', movie.id]">
    <img class="card-img-top" [src]="movie.img" alt="{{ movie.title }}" />
  </a>
  <div class="card-body d-flex justify-content-between">
    <div class="">
      <a [routerLink]="['/movies', movie.id]">
        <h5 class="card-title" [routerLink]="['/movies', movie.id]">
          {{ movie.title }}
        </h5>
      </a>
      <p class="card-text">{{ movie.release_date | customDate }}</p>
    </div>
    <div class="align-self-end">
      <a (click)="addToWatchList(movie)">
        <i class="fa-regular fa-heart"></i>
      </a>
    </div>
  </div>
</div>
