figure {
  margin-top: 2rem;
  padding: 2rem;
}
img {
  border-radius: 10%;
}
.stars {
  justify-content: flex-end;
}
.star {
  font-size: 1.3rem;
}
.btn-genre {
  background-color: rgb(255, 227, 83);
  padding: 0.2rem 1rem;
  text-decoration: none;
  border-radius: 2rem;
  border: none;
}
