<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <figure><img [src]="movie.img" alt="picture" /></figure>
    </div>
    <div class="col-lg-8 pt-5 w-50 mt-1">
      <div class="header d-flex justify-content-between">
        <h3 class="fw-bold">{{ movie.title }}</h3>
        <a class="icon_heart" (click)="addToWatchList(movie)">
          <ng-container *ngIf="isFavoriteMovie(movie); else notFavorite">
            <i class="fa-solid fa-heart fa-xl" style="color: #ffe353"></i>
          </ng-container>
          <ng-template #notFavorite>
            <i class="fa-regular fa-heart fa-xl" style="color: #000000"></i>
          </ng-template>
        </a>
      </div>

      <p class="text-muted">{{ movie.release_date | date }}</p>
      <div class="stars d-flex flex-row-reverse">
        <p class="mt-1">{{ movie.vote_count }}</p>
        <ngb-rating
          class="star"
          [(rate)]="movie.vote"
          [max]="5"
          [readonly]="true"
        ></ngb-rating>
      </div>
      <div class="details">
        <p>{{ movie.overview }}</p>
      </div>
      <div class="d-flex flex-row flex-nowrap">
        <div *ngFor="let genr of movie.genres">
          <a href="#" class="btn-genre me-2 ms-1">{{ genr.name }}</a>
        </div>
      </div>
    </div>
  </div>
  <app-recommendatins></app-recommendatins>
</div>
