.navbar {
  background-color: #ffe353;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.nav_wish-list {
  position: relative;
}
.nav_wish-list-counter {
  position: absolute;
  top: 0;
  right: -1.8rem;
  font-weight: 500;
  font-size: 1rem;
  background-color: #fff;
  color: black;
  padding: 0px 0.5rem;
  border-radius: 0.25rem;
}
@media (max-width: 600px) {
  .navbar .container {
    justify-content: space-around;
  }
}
