<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container align-items-baseline">
    <a
      class="navbar-brand text-dark"
      routerLink="/"
      routerLinkActive="text-danger"
      >Movie App</a
    >
    <div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link nav_wish-list d-flex align-items-baseline"
            routerLink="/favmovies"
            routerLinkActive="text-danger"
            ><i class="fa-solid fa-heart px-2"></i>
            <h6>watch list</h6>
            <span class="ms-1 nav_wish-list-counter" *ngIf="moviesLength > 0">{{
              moviesLength
            }}</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
