.watchList_item {
  display: flex;
  padding: 2rem;
}
.favMovie_content {
  border: none;
  border-radius: 8px;
}
.watchList_item figure {
  padding: 1rem;
}
.watchList_item img {
  border-radius: 1rem;
}
.watchList_item_description {
  height: 10.5rem;
  overflow: hidden;
  margin-bottom: 0;
}
.empty_watchList {
  text-align: center;
  padding: 4rem 0;
}
.empty_watchList button {
  background-color: #ffe353;
  outline: none;
  border: none;
}
.empty_watchList_img {
  width: 14rem;
  margin: auto;
}

.hovr {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.hovr:hover {
  transform: scale(1.05);
}

.icon_heart {
  cursor: pointer;
}
