<section class="watchList py-4">
  <div class="container">
    <h3>Watch list</h3>
    <div class="row watchList_items" *ngIf="favMovies.length > 0">
      <div class="col-md-6 watchList_item" *ngFor="let movie of favMovies">
        <div class="favMovie_content card row flex-row shadow">
          <figure class="col-sm-6">
            <img class="" [src]="movie.img" alt="Card image cap" />
          </figure>
          <div class="card-body col-sm-6">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">{{ movie.title }}</h5>
              <a class="icon_heart" (click)="addToWatchList(movie)">
                <ng-container *ngIf="isFavoriteMovie(movie); else notFavorite">
                  <i class="fa-solid fa-heart fa-xl" style="color: #ffe353"></i>
                </ng-container>
                <ng-template #notFavorite>
                  <i
                    class="fa-regular fa-heart fa-xl"
                    style="color: #000000"
                  ></i>
                </ng-template>
              </a>
            </div>
            <p class="watchList_item_date text-muted">
              {{ movie.release_date | date }}
            </p>
            <div class="d-flex align-items-baseline">
              <div class="watchList_item_stars">
                <ngb-rating
                  [max]="5"
                  [(rate)]="movie.vote_average"
                ></ngb-rating>
              </div>
              <h6 class="mx-3">{{ movie.vote_count }}</h6>
            </div>
            <div class="card-text watchList_item_description">
              <p>
                {{ movie.overview }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="favMovies.length == 0" class="empty_watchList">
      <figure class="empty_watchList_img">
        <img src="../../assets/img/Diagram - Movie App.svg" alt="" />
      </figure>
      <h4>No Movies in watchList</h4>
      <button class="btn mt-3" routerLink="/">Back to home</button>
    </div>
  </div>
</section>
